<main>
    <div class="row justify-content-center">
        <div class="col-lg-6 container3 text-white p-5">
            <div class="container4">
                <h3 class="text-center">One <span class="spn">$1 </span>can Save a life.</h3>
            </div>
            <div class="container pt-3">
                <form name="myForm" action="/payment/pay" method="POST">
                    <hr /><input id="fullname" type="text" name="full_name" placeholder="full name" />
                    <hr /><input id="email" type="email" name="email" placeholder="Email" />
                    <hr /><input id="phone" type="number" name="phone" placeholder="phone" />
                    <div class="bttn pt-2"><button type="submit">submit</button></div>
                </form>
            </div>
        </div>
    </div>
</main>